/* основний колір тексту - #212121 */
/* другий колір тексту - #757575 */
/* білий текст та фон - #FFFFFF */
/* колір тексту футер - rgba(255, 255, 255, 0.6) */
/* колір акценту - #2196F3 */
/* колір фону 1 - #E5E5E5 */
/* колір фону 2 - #F5F4FA */
/* колір фону herofooter - #2F303A */
/* колір іконки - #AFB1B8 */
/* шрифти - Roboto, Raleway */

:root {
    --primary-text-color:#212121 ;
    --secondary-text-color: #757575;
    --mainwhite-color:#FFFFFF;
    --color-text-footer:rgba(255, 255, 255, 0.6);
    --accent-color:#2196F3;
    --primary-bg-color: #E5E5E5;
    --secondary-bg-color:#F5F4FA;
    --hero-bg-color:#2F303A;
    --icon-color: #AFB1B8;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family:"Roboto", sans-serif;
    font-size: 14px;
    color: var(--primary-text-color);
    background-color: var(--mainwhite-color);
}
.list {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Header */

.bluelogo {
    color:var(--accent-color);
}
.container > .nav-container {
    display: flex;
    align-items: center;
}
.logo {
    display: block;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
}
.navigation {
    margin-left: 93px;
}
.navigation-link {
    position: relative;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em; 
    color:var(--primary-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

}
.navigation-items {
    display: flex;
}
.nav-item:not(:last-child) {
    margin-right: 50px;
}
.navigation-link.current {
    color: var(--accent-color);
}
.contact {
    display: flex;
    margin-left: 305px;
}
.contactinfo {
    display: inline-flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email-icon,
.tel-icon {
    margin-right: 10px;
    fill: currentColor;
}

.contact > .contact-item:not(:last-child) {
    margin-right: 30px;
}
.contactinfo:hover,
.contactinfo:focus {
   color:var(--accent-color);
}
.contactphone, 
.contactmail {
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;  
    color:var(--secondary-text-color);
}
.header {
    border-bottom: 1px solid #ECECEC;
}

/* Hero */

.hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, .4) 40%, rgba(47, 48, 58, .4) 40%), url(../images/team.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
.hero-title {
    color: var(--mainwhite-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 696px;
}
.reserv {
    background-color: var(--accent-color);
    color: var(--mainwhite-color);
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.reserv,
.button {
    cursor: pointer;
}
.reserv:hover,
.reserv:focus {
    background-color: #188CE8;
}
.backdroup {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdroup.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 528px;
    max-height: 581px;
    padding: 40px;
    background-color: var(--mainwhite-color);
    border-radius: 4px;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.2), 0px 1px rgba(0, 0, 0, 0.14), 0px 1px rgba(0, 0, 0, 0.12);
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdroup.is-hidden.modal {
    transform: translate(-50%, -50%), translateX(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus {
    color: var(--accent-color);
    cursor: pointer;
}
.icon-close {
    fill: currentColor;
}
.modal-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 30px;
}
.form-field {
    position: relative;
    display: block;
    margin-bottom: 28px;
}
.input-modal {
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 35px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal:focus,
.textarea-comment:focus {
    outline: none;
    border-color: var(--accent-color);
}
.input-modal:hover,
.textarea-comment:hover{
    cursor: pointer;
}
.input-text {
    position: absolute;
    top:-20px;
    left:0px;
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
}
.form-icon {
    position: absolute;
    top:50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 12px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal:focus~.form-icon {
    fill: var(--accent-color);
}
.textarea-comment {
    resize:none;
    width: 100%;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-field::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
}
.conditions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.link-conditions {
  color: var(--accent-color);
}
.comment-field {
    margin-bottom: 20px;
}
/* .checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */
/* .checkbox {
    appearance: none;
    --webkit-appearance: none;
    --moz-appearance:none;
    position: absolute;
} */
.agree-text {
    color: var(--secondary-text-color);
}
.checkbox:checked+.agree-icon {
    background-color: var(--accent-color);
    background-image: url(/images/icons.svg#icon-agree);
    background-size: contain;
    background-origin: border-box;
    border-color: var(--accent-color);
}
.agree-field {
    display: flex;
    align-items: center;
    justify-content: center;
}
.agree-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 8px;
    border: 1px solid #212121;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agree-button {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    background-color:#188CE8;
    color: var(--mainwhite-color);
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    font-family: "Roboto",sans-serif;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agree-button:hover {
    cursor: pointer;
    background-color: var(--accent-color);
}
/* Benefits */

.benefits-subtitle {
    color: var(--primary-text-color);
    font-weight: 700;
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.benefits-text {
    color: var(--secondary-text-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.benefits-items {
    flex-basis: calc(100%/3 - 30px);
}
.benefits-items:not(:first-child) {
    margin-left: 30px;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.aboutusgallery,
.ourbenefits {
    display: flex;
    justify-content: center;
}
.benefits-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-color);
    max-width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
}
.text-description {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--mainwhite-color);
}
.about-description {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
}
.about-us {
    padding-top: 0;
}
.about-item:not(:first-child) {
    margin-left: 30px;
}
.about-item {
    position: relative;
    border: none;
    max-height: 294px;
}
.aboutusimg {
    display: block;
}
/* Team */

.team {
    background-color: var(--secondary-bg-color);
}
.subtitle-membername {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}
.text-memberposition {
    color:var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}
.teamgallery {
    display: flex;
    justify-content: center;
}
.team-item {
    flex-basis: calc(100%/4 - 30px);
    background-color: var(--mainwhite-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-item:not(:first-child) {
    margin-left: 30px;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.info-team {
    padding-top: 30px;
}
.social {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 16px;
}
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--icon-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item:not(:first-child) {
    margin-left: 10px;
}
.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
    color: var(--mainwhite-color);
}
.social-team {
    fill: currentColor;
}
/* Clients */

.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.container>.clients {
    display: flex;
    justify-content: center;
}

.clients-icons {
    color: var(--icon-color);
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icons:hover,
.clients-icons:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}
.clients-item:not(:first-child) {
    margin-left: 30px;
}
.icon-client {
    fill: currentColor;
}
/* Footer */

.footer {
    background-color: var(--hero-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.addresslink-footer {
    color: var(--mainwhite-color);
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.mail-footer, .phone-footer {
    color:var(--color-text-footer);
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-decoration: none;
}
address {
    font-style: normal;
}
.logofooter {
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--mainwhite-color);
    text-decoration: none;
}
.address-item:not(:last-child) {
    margin-bottom: 9px;
}
.address-item:first-child {
    margin-top:20px
}
.footer-box {
    display: flex;
    width: 100%;
}
.join-text {
    color: var(--mainwhite-color);
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.join-container {
    padding-top: 12px;
    margin-left: 70px;
}
.footer-social {
    display: flex;
}
.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--accent-color);
}
.footer-social-items:not(:first-child) {
    margin-left: 10px;
}
.social-icon {
    fill:currentColor;
}
.subscription-title {
    color: var(--mainwhite-color);
    line-height: 1.14;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    padding-top: 12px;
}
.input-footer {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
}
.button-footer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 29px;
    margin-left: 12px;
    border: none;
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    color: var(--mainwhite-color);
    border-radius: 4px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: 700;
    list-style: 1.875;
    letter-spacing: 0.06em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-footer:hover {
    background-color:#188CE8;
    cursor: pointer;
}
.form-footer {
    display: flex;
}
.subscription{
    margin-left: auto;
}
.icon-button-footer {
    margin-left: 10px;
}
/* Portfolio */

.button-portfolio {
    background-color: var(--secondary-bg-color);
    color:var(--primary-text-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    border: 0px;
    padding: 6px 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:hover,
.button-portfolio:focus {
    background-color: var(--accent-color);
    color: var(--mainwhite-color);
    box-shadow: 0px 2px rgba(0, 0, 0, 0.12), 0px 1px rgba(0, 0, 0, 0.08), 0px 3px rgba(0, 0, 0, 0.1);
}
.filter-button {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}
.button-item:not(:first-child) {
    margin-left: 8px;
}
.items-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: -30px;
    margin-left: -30px;
}
.projectcontainer {
    flex-basis: calc(100%/3 - 30px);
    margin-left: 30px;
    margin-top: 30px; 
    /* overflow: hidden; */
}
/* .projectcontainer:hover,
.projectcontainer:focus {
     box-shadow:1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
} */
.portfolio-main {
    background-color: var(--primary-bg-color);
}
.project-subtitle {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.project-text {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
.info-cards {
    border-bottom: 1px solid  #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px;
}
.link-portfolio {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-container {
    position: relative;
    overflow: hidden;
}
.portfolio-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-portfolio:hover .portfolio-description,
.link-portfolio:focus .portfolio-description {
    transform: translateY(0%);
}
.overlay-text {
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--mainwhite-color);
}
.link-portfolio:focus,
.link-portfolio:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}